# Carpeta de salida de compilación
bin/
obj/
.vs/
Files/

# Carpetas y archivos de configuración del editor
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.env.local
.vs

# Carpetas y archivos de ReSharper
_ReSharper*/

# Carpetas de configuración del editor
*.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos temporales de Visual Stud
*.user
*.userosscache
*.sln.docstates

# Archivos de compilación
*.dll
*.pdb
*.exe
*.zip
*.xml
*.log
*.vsix
*.nupkg
*.pfx
*.snk

# Archivos de usuario
*.suo
*.user
*.userosscache
*.sln.docstates

vNodo.db
node_modules

appsettings.json

Logs
.env*

.idea
identifier.sqlite
**/*.db-wal
**/*.db-shm
*.db
*.development.json
/.config/dotnet-tools.json
/.husky/task-runner.json
SAF/
.DS_Store

/Node/data-exporter-test
/Documentation/BackEnd/Generated
/Documentation/Node/Generated
/Documentation/Components/Generated
/Documentation/Sdk/Generated
/Documentation/UnitTest/Generated
